<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Formulário</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registrationForm" (ngSubmit)="submitForm()" novalidate>

      <mat-form-field appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input matInput placeholder="Nome Completo" formControlName="name" maxlength="255">
        <mat-error *ngIf="errorHandling('name', 'required')">
          Campo obrigatório
        </mat-error>
        <mat-error *ngIf="errorHandling('name', 'minlength')">
          Nome muito curto
        </mat-error>
        <mat-error *ngIf="errorHandling('name', 'pattern')">
          Nome inválido
        </mat-error>
        <mat-error *ngIf="registrationForm?.get('name')?.getError('valuesNotAllowed')">
          Nome de usuário não permitido
        </mat-error>
      </mat-form-field>

      <div class="left-column">
        <mat-form-field appearance="outline">
          <mat-label>Nome de Usuário</mat-label>
          <input matInput placeholder="Nome de Usuário" formControlName="username" maxlength="50">
          <mat-error *ngIf="errorHandling('username', 'required')">
            Campo obrigatório
          </mat-error>
          <mat-error *ngIf="errorHandling('username', 'minlength')">
            Nome muito curto
          </mat-error>
          <mat-error *ngIf="errorHandling('username', 'pattern')">
            Nome inválido
          </mat-error>
          <mat-error *ngIf="registrationForm?.get('username')?.getError('valuesNotAllowed')">
            Nome de usuário não permitido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="right-column">
        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput readonly [matDatepicker]="picker" placeholder="Data de Nascimento" formControlName="datebirth"
            (dateChange)="date($event)">
          <mat-error *ngIf="errorHandling('datebirth', 'required')">
            Campo obrigatório
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" maxlength="255">
        <mat-error *ngIf="errorHandling('email', 'required')">
          Campo obrigatório
        </mat-error>
        <mat-error *ngIf="errorHandling('email', 'email')">
          Email inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="Senha" formControlName="password" [type]="hidePassword ? 'password' : 'text'" maxlength="255">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="errorHandling('password', 'required')">
          Campo obrigatório
        </mat-error>
        <mat-error *ngIf="errorHandling('password', 'minlength')">
          Senha muito curta
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar Senha</mat-label>
        <input matInput type="password" placeholder="Confirmar Senha" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" maxlength="255">
        <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="errorHandling('confirmPassword', 'required')">
          Campo obrigatório
        </mat-error>
        <mat-error *ngIf="registrationForm?.get('confirmPassword')?.getError('valuesDoNotMatch')">
          Senhas estão diferentes
        </mat-error>
        <mat-error *ngIf="!registrationForm?.get('confirmPassword')?.getError('valuesDoNotMatch') && errorHandling('confirmPassword', 'minlength')">
          Senha muito curta
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" disabled={{registrationForm.invalid}}>se inscrever</button>

    </form>
  </mat-card>
</div>
