<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'form.registration.header' | translate }}</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registrationForm" (ngSubmit)="submitForm()" novalidate>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'form.registration.name.label' | translate }}</mat-label>
        <input matInput placeholder="{{ 'form.registration.name.placeholder' | translate }}" formControlName="name" maxlength="255">
        <mat-error *ngIf="errorHandling('name', 'required')">
          {{ 'form.messages.generic.error.required' | translate }}
        </mat-error>
        <mat-error *ngIf="errorHandling('name', 'minlength')">
          {{ 'form.registration.name.messages.error.minlength' | translate }}
        </mat-error>
        <mat-error *ngIf="errorHandling('name', 'pattern')">
          {{ 'form.registration.name.messages.error.pattern' | translate }}
        </mat-error>
        <mat-error *ngIf="registrationForm?.get('name')?.getError('valuesNotAllowed')">
          {{ 'form.registration.name.messages.error.custom.valuesNotAllowed' | translate }}
        </mat-error>
      </mat-form-field>

      <div class="left-column">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'form.registration.username.label' | translate }}</mat-label>
          <input matInput placeholder="{{ 'form.registration.username.placeholder' | translate }}" formControlName="username" maxlength="50">
          <mat-error *ngIf="errorHandling('username', 'required')">
            {{ 'form.messages.generic.error.required' | translate }}
          </mat-error>
          <mat-error *ngIf="errorHandling('username', 'minlength')">
            {{ 'form.registration.username.messages.error.minlength' | translate }}
          </mat-error>
          <mat-error *ngIf="errorHandling('username', 'pattern')">
            {{ 'form.registration.username.messages.error.pattern' | translate }}
          </mat-error>
          <mat-error *ngIf="registrationForm?.get('username')?.getError('valuesNotAllowed')">
            {{ 'form.registration.username.messages.error.custom.valuesNotAllowed' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="right-column">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'form.registration.dateOfBirth.label' | translate }}</mat-label>
          <input matInput readonly [matDatepicker]="picker" placeholder="{{ 'form.registration.dateOfBirth.placeholder' | translate }}" formControlName="datebirth"
            (dateChange)="date($event)">
          <mat-error *ngIf="errorHandling('datebirth', 'required')">
            {{ 'form.messages.generic.error.required' | translate }}
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'form.registration.email.label' | translate }}</mat-label>
        <input matInput placeholder="{{ 'form.registration.email.placeholder' | translate }}" formControlName="email" maxlength="255">
        <mat-error *ngIf="errorHandling('email', 'required')">
          {{ 'form.messages.generic.error.required' | translate }}
        </mat-error>
        <mat-error *ngIf="errorHandling('email', 'email')">
          {{ 'form.registration.email.messages.error.email' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'form.registration.password.label' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{ 'form.registration.password.placeholder' | translate }}" formControlName="password" [type]="hidePassword ? 'password' : 'text'" maxlength="255">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="errorHandling('password', 'required')">
          {{ 'form.messages.generic.error.required' | translate }}
        </mat-error>
        <mat-error *ngIf="errorHandling('password', 'minlength')">
          {{ 'form.registration.password.messages.error.minlength' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'form.registration.confirmPassword.label' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{ 'form.registration.confirmPassword.placeholder' | translate }}" formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" maxlength="255">
        <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="errorHandling('confirmPassword', 'required')">
          {{ 'form.messages.generic.error.required' | translate }}
        </mat-error>
        <mat-error *ngIf="!registrationForm?.get('confirmPassword')?.getError('valuesDoNotMatch') && errorHandling('confirmPassword', 'minlength')">
          {{ 'form.registration.confirmPassword.messages.error.minlength' | translate }}
        </mat-error>
        <mat-error *ngIf="registrationForm?.get('confirmPassword')?.getError('valuesDoNotMatch')">
          {{ 'form.registration.confirmPassword.messages.error.custom.valuesDoNotMatch' | translate }}
        </mat-error>
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary" [disabled]="registrationForm.invalid">{{ 'form.registration.button.label' | translate }}</button>

    </form>
  </mat-card>
</div>
